/*---------------------------------------------------------*\
  #NOT FOUND
\*---------------------------------------------------------*/

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.not-found .error-404 { color: var(--main-color); }